extends home.pug

block routes

	ul.visuals(style={display:'none'})

		each item in cont

			if item.group=="visual"

				li(style=`background-image:url(${item.bckimg})`)
					a(href=item.hreff) #{item.project}

	ul.code(style={display:'none'})

		each item in cont

			if item.group=="code"

				li(style=`background-image:url(${item.bckimg})`)
					a(href=item.hreff) #{item.project}

	div.gallery

		each item in cont

			if item.project==url

				img(data-group=item.group data-name=item.project src=item.bckimg style={display:'block'})

				//- video(width='600', height='400', autoplay='')
				//- 	source(src='/video/timelist.mp4', type='video/mp4')
					

	p#navl 

	p#navr 

	link(rel='stylesheet', href='/styles/projects.css')
	script(src='/scripts/projects.js')