extends home.pug

block routes

	ul.visuals(style={display:'none'})

		each item in cont

			if item.group=="visual"

				li(style=`background-image:url(${item.bckimg})`)
					a(href=item.hreff) #{item.project}

	ul.code(style={display:'none'})

		each item in cont

			if item.group=="code"

				li(style=`background-image:url(${item.bckimg})`)
					a(href=item.hreff) #{item.project}

	div.gallery

		each item in cont

			if item.project==url

				div.preview

					img(class=item.group data-group=item.group data-name=item.project src=item.bckimg style={display:'block'})
					
					p(class=item.group) ✕

				if item.screencast

					div.extra(style={display:'none'})

						iframe(class='iframe' id='iframe' src=item.screencast width="900" height="563" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

						if item.extra

							div(class='extrav' id=item.project)

								img(src=item.extrav)

								div.if

									each val in item.extraf

										img(src=val)

								each val in item.extra

									p #{val}		

	p#navl 

	p#navr 

	link(rel='stylesheet', href='/styles/projects.css')
	script(src='/scripts/projects.js')